* {
    box-sizing: border-box;
}

body {
    position: absolute;
    /* width: 550px;
    height: 868px; */
   
    left: 42px;
    top: 10px;

    background: url(./bg1.jpg);
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: top;
}
.container{
    position: absolute;
    width: 317px;
    /* height: 780px; */
    height: fit-content;
    left: 90%;
    top: 0%;
    background-color: rgb(0, 234, 255);
    align-self: center;
    border-radius: 10px 10px 10px 10px;



}


    
header{
    position: absolute;
    width: 317px;
    height: 317px; 
    
    
    background: url(./my-dp1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;

}
footer{
    position:absolute;
    /* width: 317px;
    height: 64px; */
    align-items: center;
    width: 100%;
    height: 64px;
  
    top: 714px;  /* container height - footer height*/

    background: #161619;
    border-radius: 0px 0px 10px 10px;
}

.footer--social{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px 25px 10px 10px;
    
    

}

.facebook{
    color: #fff;
    font-size: 12px;
    margin: 0px 10px 0px 10px;
}

.twitter{
    color: #fff;
    font-size: 12px;
    margin: 0px 10px 0px 10px;
}

.insta{
    color: #fff;
    font-size: 12px;
    margin: 0px 10px 0px 10px;

}

.github {
    color: #fff;
    font-size: 12px;
    /* margin: 0px 10px 0px 10px; */
}

.footer--license {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-top: 10%;
    color:gold
}

main{
    position: absolute;
    /* width: 317px;
    height: 399px; */
    width: 100%;
    height: 419px;
    /* left: 116px; */
    top: 296px;
    align-items: center;
    background: #1A1B21;
}

main > .body--title{
    margin-left: 47px;
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    line-height: 25px;
    left: 50%;
    top: 310px;
    color: whitesmoke;
    bottom: 0%;
    margin-bottom:0%;

}

main > .designation {
   
    margin-top: 5px; 
  
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    line-height: 18px;
    color:  #F3BF99;
    text-align: center;
    margin-bottom:5%;
}

main > .weblink {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.24px;
    line-height: 150%;
    /* identical to box height, or 15px */
    
    text-align: center;
    
    color: #F5F5F5;
    margin-bottom: 5%;
}

div > .button {
    /* Button */

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 2px;

    position: absolute;
    width: 115px;
    height: 34px;
    left: 30px;
    font-weight: 500;

    text-align: center;

    /* white */

    background: #FFFFFF;
    /* gray/300 */

    border: 1px solid #D1D5DB;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

div > .lkd {
    /* Button */
    box-sizing: border-box;
    margin-left: 8px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;

    position: absolute;
    width: 115px;
    height: 34px;
    left: 160px;
    font-weight: 500;
    


    background: #5093e2;
    /* shadow/sm */

    /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); */
    border-radius: 7px;
    color: white;
}

div > .about--title {
    position: absolute;
    width: 247px;
    height: 61px;
    left: 30px;
    top: 160px;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14.24px;
    line-height: 150%;
    /* or 21px */
    color: #DCDCDC;
}
div > .about--content {
    position: absolute;
    width: 247px;
    height: 61px;
    left: 30px;
    top: 190px;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */


    color: #DCDCDC;

}
div > .interest--title {
    position: absolute;
    width: 247px;
    height: 61px;
    left: 30px;
    top: 320px;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14.24px;
    line-height: 150%;
    /* or 21px */
    color: #DCDCDC;
}

div > .interest--content {
    position: absolute;
    width: 247px;
    height: 61px;
    left: 30px;
    top: 350px;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */


    color: #DCDCDC;

}